<div class="fields append-new-input-container ">
    <span class="fields-label">Kategoriya</span>
        {% include '/component/search/advanced/add_more_category_fields/include_new_category_fields.twig' with data.advanced_fields.category %}

    <div class="add_fields_container width-100">
        <button class="btn btn-light btn-default-blue append-new-input add-new" data-fields-name="search_add_category_fields">Əlavə et</button>
    </div> 

</div>
