<div class="form-fields fields">
	<span class="fields-label">Miqdar</span>
	<div class="flex flex-ai-cntr cart-input-container">
		<button class="las la-minus btn btn-default  cart-counter cart-minus-count" tabindex="-1"></button>
		<div class="counter-input th_w70">
			<input type="text" class="input add-stock form-input edit-counter cart-counter-input input-validate-length input-validate-count input-validate-min-count-false input-required" data-fields-name="add_stock_count">
		</div>
		<button class="las la-plus btn btn-default cart-counter cart-plus-count" tabindex="-1"></button>
	</div>
</div>
