<div class="form-fields fields">
    <span class="fields-label">Məhsul adı</span>
    <input type="text" class="input form-input add-stock input-validate-length input-required" placeholder="..." value="{{row.value}}" data-fields-name="add_stock_name">
</div>