<div class="append-new-input-container">

    {% include '/component/form/fields/stock/append_new_barcode_fields.twig' %}

    <div class="add_fields_container width-100">
        <button class="btn btn-light btn-default-blue append-new-input" data-fields-name="add_new_barcode_line">Barkod əlavə et</button>
    </div>       
</div>

