<div class="form-fields fields">
    <span class="fields-label">Barkod</span>
    <div class="inline-flex flex-row"> 
        <input type="text" class="input form-input add-stock  add-stock-barcode" placeholder="..." value="{{row.value}}" data-fields-name="add_stock_barcode">
        <button class="btn btn-light btn-red remove-fields">Sil</button>
    </div>
</div>