<div class="update-container animate__animated animate__faster animate__zoomIn">
    <div class="width-100 update-content">
        <div class="update-content-icon-container flex-cntr">
			<span class="update-content-icon flex-cntr mark-danger">
            	<i class="las la-exclamation-triangle"></i>
			</span>
        </div>
        <div class="update-text-list">
            <span class="update-text-item mark-text mark mark-danger width-100 update-error-text">{{error.text}}</span>
        </div>

		<a href="/" class="btn btn-indigo-blue-700 width-100">ะะบ</a>
    </div>
</div>