<div class="modal-content stories-content">
    <div class="image"></div>   

    <div class="controller">
        <button class="prev"></button>
        <button class="next"></button>
    </div>
</div> 