<div class="add_stock_module_error">
	<div class="close_modal_btn_error close_error_module_action"><img src="assets/img/icon/cancel-white.png"></div>
	<div class="module moudle_erro_imei_availible">
		<div class="module_cwrp">
			<div class="module_hdr">Bu məhsul artıq mövcuddur</div>
			<div class="module_err_option">
				<div  class="hide_stock_list stock-list" id="{{id}}">
					<a href="javascript:void(0)" class="table_stock error_imei_btn close_error_module_action">
                        Redaktə edin 
                        <span><img src="assets/img/icon/edit-rasxod.png"></span>
					</a>
				</div>	
			</div>
		</div>
	</div>
</div>