<div class="fields info-fields">
    <span class="fields-label">Qeyd</span>
    <input class="fields-info-value input edit edit-report-order-input" value="{{row.value}}" data-id="{{row.value}}" data-fields-name="edit_report_order_note">   
</div>