<div class="form-fields fields">
    <span class="fields-label">Qiymət	</span>
    <div class="fileds-input-container th_w140 flex flex-ai-cntr">
            <div class="cart-input-icon cart-input-price-icon opacity-06">
                <img src="../../assets/img/icon/manat.svg">
            </div>       
        <input type="text" class="fields-info-value input edit edit-report-order-input edited" value="{{row.value}}" data-id="{{row.value}}" data-fields-name="report_edit_price">
    </div>
</div>