<div class="fields info-fields hide">
    <span class="fields-label">Sifariş nömrəsi</span>
    <input class="fields-info-value input report_order_id edited edit edit-report-order-input disabled" disabled  value="{{row.value}}" data-id="{{row.value}}" data-fields-name="report_order_id">   
</div>

