<div class="fields">
    <span class="fields-label">Ödəniş üsulu</span>
    <input type="text" class="input edit input-validate-length input-required edit-payment-method-info" placeholder="..." value="{{row.value}}" data-fields-name="edit_payment_method_name">
</div>