<div class="fields">
    <span class="fields-label">Filtr adı</span>
    <input type="text" class="input edit edit-filter-name-input input-validate-length input-required" placeholder="..." value="{{row.value}}" data-fields-name="filter_name">
</div>