<div class="fields form-fields background-none inline-flex flex-row">
    <input type="text" class="input form-input edit edit-filter-option input-validate-length input-required {{row.class_list}}" data-id="{{k.filter_id}}" placeholder="..." value="{{k.filter_value}}">
    <button class="btn btn-light btn-red remove-fields hide-fields">Sil</button>
</div>