<div class="fields">
    <span class="fields-label">Təsvir</span>
    <textarea class="textarea edit input-validate-length input-required ls-custom-scrollbar" placeholder="..." value="{{row.value}}" data-fields-name="upd_rasxod_description">{{row.value}}</textarea>
</div>