<div class="fields">
    <span class="fields-label">Məbləğ</span>
    <div class="fileds-input-container flex flex-ai-cntr th_w120">
        <div class="icon icon-right">
            <span class="mark-icon manat-icon--black opacity-05"></span>
        </div>
        <input type="text" class="input edit input-required input-validate-length input-validate-price"  value="{{row.value}}" data-fields-name="upd_rasxod_amount">
    </div>
</div>
