<div class="stock-from-container">
    <span class="sub-title stock-from-title flex">Anbar əlavə edin</span>

    <div class="filter-form-content">

        <div class="fields form-fields">
            <span class="fields-label">Anbar adı</span>
           <input type="text" class="input form-input input-validate-length input-required warehouse-add-input " placeholder="..." data-fields-name="warehouse_name">
        </div>

        <div class="fields form-fields">
            <span class="fields-label">Əlaqə</span>
           <input type="text" class="input form-input input-validate-length input-required warehouse-add-input" placeholder="..." data-fields-name="warehouse_contact">
        </div>        

        <div class="fields form-fields width-100">
            <button class="btn btn-success add-warehouse">Göndər</button>
        </div>

    </div>
</div>