<div class="fields">
    <span class="fields-label">Anbar adı</span>
    <input type="text" class="input edit edit-warehouse-input input-validate-length input-required {{row.class_list}}" placeholder="..." value="{{row.value}}" data-fields-name="edit_warehouse_name">

    <input type="hidden" class="edit-warehouse-input" data-fields-name="warehouse_id" value="{{res.get.id}}">
</div>