<div class="fields info-fields">
    <span class="fields-label">Şifrə</span>
    <input class="fields-info-value input edit-seller edit input-required input-validate-length" value="{{row.value}}" data-fields-name="edit_seller_password" >   
</div>