<h3 class="modal-title">FORM</h3>
<div class="module_order_wrp ls-custom-scrollbar">
	<div class="modal_order_form modal-form" data-order-id="{{res.get.id}}">
		{% include '/component/form/include_fields.twig' %}
	</div>
</div>
