<div class="form-fields fields">
    <span class="fields-label">Məbləğ</span>
    <div class="fileds-input-container flex flex-ai-cntr">
        <div class="icon icon-right">
            <span class="mark-icon manat-icon--black opacity-05"></span>
        </div>
        <input type="text" class="input input-required add-stock form-input input-validate-length input-validate-price"  data-fields-name="add_rasxod_sum">
    </div>
</div>