<div class="flex fields form-fields flex-ai-cntr flex-wrap">
    <div class="fileds-input-container flex flex-jc-end">
        <button class="btn btn-success add-submit-rasxod">Əlavə et</button>
    </div>
</div>