        <div class="fields form-fields background-none inline-flex flex-row">
            {% set custom_arr = [{
                'custom_value': 'Yoxdur',
                'custom_data_id': ''
            }] %}

    {% for row, val in row.custom_data %}

        {% set custom_arr = custom_arr|merge({(loop.index0) : {'custom_value': val.provider_name, 'custom_data_id': val.provider_id}}) %}
    {% endfor %}

   {% set searh_param = {
		input_class:  row.class_list ~ ' scroll-auto area-button input-dropdown form-input', 
		parent_class: 'width-100 input-dropdown-parent', 		
		input_placeholder: 'Выберите ', 
        input_type: 'button',
        input_value: prov_val.provider_name,
        fields_name: 'provider_name_text',
		reset: false, 
        input_icon: {
            icon: 'la-address-card'
        },
        widget_class_list: 'widget-fields width-100',
        widget_container_class_list: 'widget-fields-container',
		autocomplete:  {
            includs: {
                renderAutoComponent: {
                    '/component/search/dom_live_search.twig': '1',
                },
            },
			type: 'check_provider',
            autocomplete_list: custom_arr,
            parent_modify_class: " input-dropdown-auto-list-parent",
            autocomlete_ul_modify_class: 'input-dropdown-auto-ul',
            autocomlete_class_list: "selectable-search-item area-closeable select-category-id select-hidden-fields-input input-dropdown-auto-list-li",
        },
   }
   %}

    {% include '/component/search/search.twig'  with { 'data': searh_param }  %}


    <input type="hidden" class="edit-product-provider hidden_input hidden-fields-input {{row.class_list}}" data-fields-name="provider_id" data-old-id={{prov_val.provider_id}} value={{prov_val.provider_id}}>

    <button class="btn btn-light btn-red remove-fields hide-fields">Sil</button> 
</div>