<div class="stats-card-container mrgn-bottom-50">
    <div class="stats-card-list ls-custom-scrollbar" data-stats-search-type="{{data.date_type|raw}}">
    </div>
</div>

<script defer>
        var date = $('.report-date-picker').val();


        if(!$('.report-date-picker-item--cards-load').hasClass('clicked')) {
            load_stats_card(date);
        }
    
            $('body').on('click', '.report-date-picker-item--cards-load', function() {            
                if(!$(this).hasClass('clicked')) {
                    
                    $(this).addClass('clicked');

                    var pick_date = $(this).data('sort-value');
                    load_stats_card(pick_date);
                }
            });

    

    function load_stats_card(date = null) {
        var d_type = $('.stats-card-list').data('stats-search-type');

        $.ajax({
            type: 'POST',
            url: 'ajax_route.php',
            dataType: 'json',
            data: {
                url: 'core/pulgin/stats_card/stats_report.php',
                route: 'includeStats',
                page: pageData.page(),
                type: pageData.type(),
                date: date,
                date_types: d_type,
            },
            beforeSend: function( ){
            },
            complete: function() {
            },            
            success: (data) => {
               

                $('.stats-card-list').html(data.report_cards);

                $('.report-date-picker-item--cards-load').removeClass('clicked');
            }
        });
    }
</script>