{# <div class="header-top-site flex-cntr">
	<div class="header-logo-wrp">
		<div class="header-logo-center">
		</div>
	</div>
	
	<div class="author_info">
		<div class="link_to_site_info">
			<a href="http://lime-sklad.github.io/" target="_blank" class="link">lime-sklad.github.io</a>
		</div>
		<span>©Emil (tel: 0504213635) <?php echo date("Y"); ?></span>
	</div>

	<div class="preloader">
		<?php echo get_preloader(); ?>
	</div>
</div> #}


<div class="top-bar">
	<div class="top-bar-content flex">

		<div class="top-bar-logo-wpr flex-cntr">
			<a href="javascript:void(0);" class="logo-text get_main_page flex flex-ai-cntr scroll_top" id="top">
				<span class="logo-text-cap-letter flex-cntr">L</span>ime Store
			</a>			
		</div>

		{% include '/component/include_once_component.twig' %}
	</div>
</div>