<div class="width-100 flex form-fields fields flex-wrap">
    <span class="fields-label">Kateqoriya əlavə et</span>
    
    <div class="fileds-input-container">
        <button class="btn btn-success add-submit-category">Yadda saxla</button>
    </div>
</div>