<div class="width-100 flex form-fields fields flex-wrap">
    <span class="fields-label">Təchizatçı əlavə et </span>
    
    <div class="input-relative">
        <button class="btn btn-success add-submit-provider">Сохранить</button>
    </div>
</div>