<div class="form-fields fields width-100">
    <span class="fields-label">Təchizatçı</span>
    <div class="fileds-input-container">
        <input type="text" class="input add-stock form-input input-validate-length"  data-fields-name="add_provider_name">
    </div>
</div>