<div class="fields append-new-input-container ">
    <span class="fields-label">Təchizatçı</span>
        {% include '/component/search/advanced/add_more_provider_fields/include_new_provider_fields.twig' with data.advanced_fields.provider %}

    <div class="add_fields_container width-100">
        <button class="btn btn-light btn-default-blue append-new-input add-new" data-fields-name="search_append_new_provider">Əlavə et</button>
    </div> 

</div>
