<div class="fields form-fields background-none inline-flex flex-row">
  
    {% set custom_arr = [{
        'custom_value': ' ',
        'custom_data_id': ''
    }] %}

    {% for row, val in row.custom_data %}
        {% set custom_arr = custom_arr|merge({(loop.index0) : {'custom_value': val.provider_name, 'custom_data_id': val.provider_id}}) %}
    {% endfor %}

   {% set searh_param = {
		input_class: row.class_list ~  ' sub-area scroll-auto form-input area-button input-dropdown ', 
		parent_class: 'width-100 input-dropdown-parent', 		
		input_placeholder: 'Выберите ',
        input_type: 'button',
        input_value: row.value,
        fields_name: '',
		reset: false, 
        input_icon: {
            icon: 'la-address-card',
        },
        widget_class_list: 'widget-fields width-100',
        widget_container_class_list: 'widget-fields-container',
		autocomplete:  {
            includs: {
                renderAutoComponent: {
                    '/component/search/dom_live_search.twig': true,
                },
            },
			type: 'check_provider',
            parent_modify_class: "form-fields-autocomplete input-dropdown-auto-list-parent",
            autocomlete_ul_modify_class: 'width-100 unset-max-width input-dropdown-auto-ul',
            autocomplete_list: custom_arr,
            autocomlete_class_list: "selectable-search-item area-closeable sub-area select-hidden-fields-input input-dropdown-auto-list-li",
        },
   }
   %}

    {% include '/component/search/search.twig'  with { 'data': searh_param }  %}
	
    <input type="hidden" class="form-input hidden_input hidden-fields-input {{row.class_list}} advanced-search-input--stock-provider advanced" data-fields-name="stock_provider_list">

    <button class="btn btn-light btn-red remove-fields">Sil</button> 
</div>