<div class="module_fix_right_side animate__animated animate__faster  hide">

	<div class="close_modal_btn">
		<i class="las la-times"></i>
	</div>

	<div class="modal_view_stock_order">
		return html here
	</div>
	<div class="order_resault"></div>
</div>