<div class="body_prelodaer">
    {# {% include '/component/related_component/content_preloader.twig' %} #}
    <div class="preloader content_preloader hide">


    <div class="pos-relative">
    
        <svg class="rf-spinner__spinner" width="100%" height="100%" viewBox="0 0 200 200" preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="
        width: 100px;
        height: auto;
        animation: circleRotate .5s linear infinite;
        border-radius: 100%;
    "><defs><linearGradient id="spinner-1687028871375" x1="0%" y1="0%" x2="65%" y2="0%" style="stop-color: var(--primary_color);">
    <stop offset="0%" class="Spinner-blue-wL0" style="stop-color: var(--primary_color);"></stop><stop offset="100%" class="Spinner-blue-wL0" stop-opacity="0" style="
        stop-color: var(--primary_color);
    "></stop></linearGradient></defs><circle cx="100" cy="100" r="90" fill="transparent" stroke="url(#spinner-1687028871375)" stroke-width="20" style=""></circle></svg>


    <div class="circle-text">L</div>
    </div>



        {# <div class="prelaoder-circle">
            <div class="circle-center">L</div>
            <div class="circle-line"></div>
        </div> #}


    </div>

</div>