<div class="stock-from-container">
    <span class="sub-title stock-from-title flex">Satıcı əlavə edin</span>

    <div class="filter-form-content">

        <div class="fields form-fields">
            <span class="fields-label">Ad</span>
           <input type="text" class="input form-input input-validate-length input-required add-seller-name" placeholder="...">
        </div>

        <div class="fields form-fields">
            <span class="fields-label">Şifrə</span>
           <input type="text" class="input form-input input-validate-length input-required add-seller-password" placeholder="****">
        </div>        



        <div class="fields form-fields width-100">
            <button class="btn btn-success add-seller">Göndər</button>
        </div>

    </div>
</div>