<div class="container flex flex-cntr height-100 flex-1">
    <div class="content update-container flex  flex-column">
<div class="update-content-icon-container flex-cntr">
			<span class="update-content-icon flex-cntr mark-danger">
            	<i class="las la-clock"></i>
			</span>
        </div>
        <span class="update-text-item mark mark-text mark-danger">Kompüterdə vaxt geridə qalır. Davam etmək üçün vaxtı düzəldin</span>
        <a href="index.php" class="btn btn-primary">Yenile</a>
    </div>
</div>