<div class="fields form-fields">
    <span class="fields-label">Tarix</span>
    <div class="fields-group">
        <div class="form-fields fields fields-group-item">
            {# <input type="text" class="input edit edit-stock-name-input" placeholder="..." value="{{row.value}}" data-fields-name="product_provider"> #}

            {% set custom_arr = [{
                'custom_value': 'Umumi',
                'custom_data_id': 'all'
            }] %}

            {% for row, val in data.advanced_fields.report_month_picker.res %}
                {% set custom_arr = custom_arr|merge({(loop.index0) : {'custom_value': val, 'custom_data_id': val}}) %}
            {% endfor %}

            {% set searh_param = {
                    input_class: ' sub-area scroll-auto form-input area-button input-dropdown ', 
                    parent_class: 'input-dropdown-parent width-100', 		
                    input_placeholder: 'Выберите ', 
                    input_type: 'button',
                    input_value: data.advanced_fields.report_month_picker.res.default,
                    fields_name: '',
                    input_icon: {
                        icon: 'la-calendar-alt',
                    },
                    reset: false, 
                    widget_class_list: 'widget-fields width-100 ojopj',
                    widget_container_class_list: 'widget-fields-container',
                    autocomplete:  {
                        includs: {
                            renderCategoryIncluds: {
                                '/component/search/dom_live_search.twig': true,
                            }
                        },                        
                        type: '',
                        autocomplete_list: custom_arr,
                        data_sort: data.advanced_fields.report_month_picker.sort,
                        data_sort_value: true,
                        parent_modify_class: "input-dropdown-auto-list-parent",
                        autocomlete_class_list: " sub-area selectable-search-item select-hidden-fields-input area-closeable",
                        autocomlete_ul_modify_class: 'width-100 unset-max-width',  
                    },
            }
            %}

            {% include '/component/search/search.twig'  with { 'data': searh_param }  %}


            <input type="hidden" class=" hidden_input hidden-fields-input advanced-search-input--report-month-picker advanced" value="{{data.advanced_fields.report_month_picker.res.default}}" data-fields-name="report_month">        
        </div>

        {% if data.advanced_fields.report_month_picker_between %}
        <div class="form-fields fields fields-group-item">
            {# <input type="text" class="input edit edit-stock-name-input" placeholder="..." value="{{row.value}}" data-fields-name="product_provider"> #}

            {% set custom_arr = [] %}

            {% for row, val in data.advanced_fields.report_month_picker.res %}
                {% set custom_arr = custom_arr|merge({(loop.index0) : {'custom_value': val, 'custom_data_id': val}}) %}
            {% endfor %}

            {% set searh_param = {
                    input_class: ' sub-area scroll-auto form-input area-button input-dropdown ', 
                    parent_class: 'input-dropdown-parent width-100', 		
                    input_placeholder: 'Выберите ', 
                    input_type: 'button',
                    input_value: '',
                    fields_name: '',
                    input_icon: {
                        icon: 'la-calendar-alt',
                    },
                    reset: false, 
                    widget_class_list: 'widget-fields width-100 ojopj',
                    widget_container_class_list: 'widget-fields-container',
                    autocomplete:  {
                        includs: {
                            renderCategoryIncluds: {
                                '/component/search/dom_live_search.twig': true,
                            }
                        },                        
                        type: '',
                        autocomplete_list: custom_arr,
                        data_sort: data.advanced_fields.report_month_picker.sort,
                        data_sort_value: true,
                        parent_modify_class: "input-dropdown-auto-list-parent",
                        autocomlete_class_list: " sub-area selectable-search-item select-hidden-fields-input area-closeable",
                        autocomlete_ul_modify_class: 'width-100 unset-max-width',  
                    },
            }
            %}

            {% include '/component/search/search.twig'  with { 'data': searh_param }  %}


            <input type="hidden" class=" hidden_input hidden-fields-input advanced-search-input--report-month-picker advanced" value="" data-fields-name="report_between_month">        
        </div>
        {% endif %}
    </div>
</div>