
<div class="fields form-fields background-none inline-flex flex-row">
    <input type="text" class="input edit form-input edit-barcode-input {{cl.class_list}} " placeholder="..." value="{{row.barcode_value}}" data-old-value="{{row.barcode_value}}" data-barcode-id="{{row.barcode_id}}" >
<button class="btn btn-light btn-red hide-fields remove-fields">Sil</button>
</div>
    

{# {% for key, row in data.res %} #}