<div class="fields append-new-input-container fields-custom-container">
    <span class="fields-label">Barkod</span>

        {% include '/component/modal/barcode/include_edit_barcode.twig' %}

    <div class="add_fields_container width-100">
        <button class="btn btn-light btn-default-blue append-new-input add-new" data-fields-name="add_append_edit_barcode">Əlavə et</button>
    </div> 

</div>


<div class="modal-buttons fields form-fields">

    <button class="btn btn-success save-edit-stock-barcode" data-id="{{data.stock_id}}">Save</button>

</div>