<div class="fields-live-search flex flex-ai-cntr">
	<div class="widget__search-icon button-icon-i search-icon">
		<i class="las la-search"></i>
	</div>		
	<input type="text" class="search-input dom-live-search-input dom-live-search" placeholder="Axtar">
</div>