<div class="fields form-fields background-none inline-flex flex-row">
  
    {% set custom_arr = [{
        'custom_value': ' ',
        'custom_data_id': ''
    }] %}

    {% for row, val in row.custom_data %}
        {% set custom_arr = custom_arr|merge({(loop.index0) : {'custom_value': val.provider_name, 'custom_data_id': val.provider_id}}) %}
    {% endfor %}

   {% set searh_param = {
		input_class: row.class_list ~  ' scroll-auto form-input area-button input-dropdown provider-input-value', 
		parent_class: 'width-100 input-dropdown-parent', 		
		input_placeholder: 'Выберите ',
        input_type: 'button',
        input_value: row.value,
        fields_name: 'provider_name_text',
		reset: false, 
        input_icon: {
            icon: 'la-address-card',
        },
        widget_class_list: 'widget-fields width-100',
        widget_container_class_list: 'widget-fields-container',
		autocomplete:  {
            includs: {
                renderAutoComponent: {
                    '/component/search/dom_live_search.twig': '1',
                    '/component/buttons/button.twig': {
                        btn_text: 'Yeni təchizatçı əlavə etmək',
                        btn_attr_list: {
                            class: 'btn width-100 btn-light btn-default-blue open-provider-form-modal',
                        }
                    }
                },
            },
			type: 'check_provider',
            parent_modify_class: "form-fields-autocomplete input-dropdown-auto-list-parent",
            autocomlete_ul_modify_class: 'width-100 unset-max-width input-dropdown-auto-ul',
            autocomplete_list: custom_arr,
            autocomlete_class_list: "selectable-search-item area-closeable select-provider-id select-hidden-fields-input input-dropdown-auto-list-li",
        },
   }
   %}

    {% include '/component/search/search.twig'  with { 'data': searh_param }  %}
	
    <input type="hidden" class="form-input add-new-stock-provider add-stock hidden_input hidden-fields-input hidden-provider-id {{row.class_list}}" data-fields-name="add_stock_prvider_id">

    <button class="btn btn-light btn-red remove-fields">Sil</button> 
</div>