<div class="fields append-new-input-container fields-custom-container">
    <span class="fields-label">Təchizatçı</span>
        {% include '/component/form/fields/stock/add_more_provider/include_new_provider_fields.twig' %}

    <div class="add_fields_container width-100">
        <button class="btn btn-light btn-default-blue append-new-input add-new" data-fields-name="add_append_new_provider">Əlavə et</button>
    </div> 

</div>
