<div class="fields">
	<span class="fields-label">Miqdar</span>
	<div class="flex flex-ai-cntr cart-input-container">
		<button class="las la-minus btn btn-default  cart-counter cart-minus-count" tabindex="-1"></button>
		<div class="counter-input th_w70">
			<input type="text" class="input edit edit-counter cart-counter-input input-validate-length input-validate-count input-required"  value="{{row.value}}" data-fields-name="plus_minus_product_count">
		</div>
		<button class="las la-plus btn btn-default cart-counter cart-plus-count" tabindex="-1"></button>
	</div>
</div>
