<div class="fields">
    <span class="fields-label">Əlavə et</span>
    <div class="input-container th_w160">
        <input type="text" class="input edit input-validate-length edit-append-stock-count"  value="" data-fields-name="append_stock_count">
    </div>
</div>