<div class="fields">
    <span class="fields-label">Miqdar</span>
    <div class="input-container th_w160">
        <input type="text" class="input edit input-validate-length"  value="{{row.value}}" data-fields-name="change_product_count">
    </div>
</div>