<div class="fields">
    <span class="fields-label">Məhsul adı</span>
    <input type="text" class="input edit edit-stock-name-input input-validate-length input-required {{row.class_list}}" placeholder="..." value="{{row.value}}" data-fields-name="product_name">
</div>