<div class="fields">
    <span class="fields-label">Təsvir</span>
    <input type="text" class="input edit edit-stock-description" placeholder="..." value="{{row.value}}" data-fields-name="product_description">
</div>