<div class="fields">
    <button class="btn btn-danger open-delete-stock-modal">Sil</button>
</div>

<div class="fields-modal-container">
    <div class="flex-cntr height-100 ">
        <div class="fields-modal-choice">
            <h3 class="fields-modal-choice-title">Kateqoriya silinsin?</h3>
            <div class="fields-modal-choice-buttons">
                <button class="btn mark-default choice-btn opacity-07 cancle-fields-modal">İmtina et</button>
                <button class="btn mark-danger choice-btn opacity-08 delete-category" data-delete-id="{{row.value}}">Sil</button>
            </div>
        </div>    
    </div>
</div>


