<div class="fields">
    <span class="fields-label">Kateqoriya</span>
    <input type="text" class="input edit input-validate-length input-required" placeholder="..." value="{{row.value}}" data-fields-name="upd_category_name">
</div>