<div class="fields form-fields background-none inline-flex flex-row">
    <input type="text" class="input form-input add-filter-option input-validate-length input-required" placeholder="..." value="">
    <button class="btn btn-light btn-red remove-fields">Sil</button>
</div> 